{% extends 'base.html' %}
      
        {% block main %}


        {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <main class="flex-grow-1">
            <div class="container-lg mt-3">
              <h1>Сайт: {{ name }}</h1>
        
            
          <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="url">
              <tbody>
                <tr>
                  <td>ID</td>
                  <td>{{ url_id }}</td>
                </tr>
                <tr>
                  <td>Имя</td>
                  <td>{{ name }}</td>
                </tr>
                <tr>
                  <td>Дата создания</td>
                  <td>{{ created_at }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
            <h2 class="mt-5 mb-3">Проверки</h2>
            <form method="post" action="{{ url_for('check_url', id=url_id) }}" >
            <input type="hidden" name="name" value="{{ name }}">
            <input type="submit" class="btn btn-primary" value="Запустить проверку">
            </form>
            
          <div>
            <table class="table table-bordered table-hover mt-2" data-test="checks">
              <tbody>
            <tr>
                <th>ID проверки</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата проверки</th>
            </tr>
            {% if result_checks %}
            {% for id, _, status_code, h1, title, description, created_at in result_checks %}
            <tr>
                <td>{{ id }}</td>
                <td>{{ status_code }}</td>
                <td>{{ h1 }}</td>
                <td>{{ title }}</td>
                <td>{{ description }}</td>
                <td>{{ created_at  }}</td>
            </tr>
            {% endfor %}
            {% endif %}
              </tbody>
            </table>
          </div>
            </div>
          </main>
        {% endblock main %}