{% extends 'base.html' %}

        {% block main %}

        <main class="flex-grow-1">
            <div class="container-lg mt-3">
                <h1>Сайты</h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Имя</th>
                                <th>Дата последней проверки</th>
                                <th>Код ответа</th>
                            </tr>
                            {% if data %}
                            {% for id, name, created_at, status_code in data %}
                            <tr>
                                <td>{{ id }}</td>
                                <td>
                                <a href="{{ url_for('show_url', id=id) }}">  
                                {{ name }}
                                </a>
                                </td>
                                <td>{{ created_at  }}</td>
                                <td>{{ status_code  }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    {% endblock main %}